<div class="center-block" ng-init="init()">
  <div class="span12 dm-libg">
    <div class="dm-line-free dm-lifree">
      <h3> Tabela Tipos</h3>
    </div>
  </div>
  <a href="#/type/new" class="btn btn-primary novo">Novo</a>
  <table class="table table-bordered table-hover">
    <thead>
      <tr>
        <th>Name</th>
        <th>Edit/Delete</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="tipo in tipos">
       
        <th>{{tipo.name}}</th>
        <th>
            <a href="#/type/{{tipo.id}}" class="btn btn-info">
              <i class="fa fa-pencil"></i>
            </a>

            <button type="submit" class="btn btn-danger" ng-click="delete(tipo.id)">
            <i class="fa fa-trash-o"></i>
            </button>                                           
          </th>
      </tr>
    </tbody>
  </table>
</div>