
<div class="container">
<section  >
    <div class="form-group">
        <div class="row">
            <div class="col-md-10 col-centered">
                <grid-view fields="[{'name': 'data', value: 'Date', 'sub': '' , 'type': 'date'},{'name': 'owner', value: 'Owner', 'sub': 'name' } ,{'name': 'project', value: 'Project', 'sub': 'name' },{'name': 'quantityTime', value: 'Hours', 'sub': '' } ]" listaname="timesheet" strupdate="false" adicionar="" view="Time Sheet" pagesize="20"></grid-view>
            </div>
        </div> 
      
    </div>
</section>
</div>
