<form  ng-init="init()">
    <div class="row margin">
        <div class="span6">
            <div class="form-group">
                <label>Nome: </label>
                <input type="text" class="form-control" placeholder="Digite o nome" ng-model="ativo.name">
                <label>Número de Série: </label>
                <input type="text" class="form-control" placeholder="Digite o número de Série" ng-model="ativo.serialNumber">
                <label>Número de Patrimônio: </label>
                <input type="text" class="form-control" placeholder="Digite o número de Patrimônio" ng-model="ativo.assetNumber">
                <label>Modelo: </label>
                <input type="text" class="form-control" placeholder="Digite o modelo" ng-model="ativo.model">
                <label>Tamanho: </label>
                <input type="text" class="form-control" placeholder="Digite o tamanho" ng-model="ativo.size">
                <label>Descrição: </label>
                <input type="text" class="form-control" placeholder="Digite o descrição" ng-model="ativo.description" >
                <label>Tipo: </label>
                <select class="form-control" ng-model="tipo" ng-options="tipo.name for tipo in tipos track by tipo.id"></select>

                <a href="#/asset" class="btn btn-primary">Voltar</a>
                <a href="#/asset" type="submit" class="btn btn-primary" ng-click="gravarAtivos()">Gravar</a>
            </div>
        </div>
    </div>
</form>