<form>
    <div class="row margin">
        <div class="span6">
            <div class="form-group">
                <label>Name: </label>
                <input type="text" class="form-control" placeholder="Digite o nome" ng-model="ativo.name">
                <label>Serial Number: </label>
                <input type="text" class="form-control" placeholder="Digite o número de Série" ng-model="ativo.serialNumber">
                <label>Asset Number: </label>
                <input type="text" class="form-control" placeholder="Digite o número de Patrimônio" ng-model="ativo.assetNumber">
                <label>Model: </label>
                <input type="text" class="form-control" placeholder="Digite o modelo" ng-model="ativo.model">
                <label>Size: </label>
                <input type="text" class="form-control" placeholder="Digite o tamanho" ng-model="ativo.size">
                <label>Price: </label>
                <input type="text" class="form-control" placeholder="Digite o preço" ng-model="ativo.price">
                <label>Description: </label>
                <textarea  class="form-control" placeholder="Digite o descrição" ng-model="ativo.description" ></textarea>
                <label>Type: </label>
                <select class="form-control" ng-model="ativo.type" ng-options="tipo.name for tipo in tipos track by tipo.id"></select>
                <label>User: </label>
                <select class="form-control" ng-model="user" ng-options="user.name for user in users track by user.id"></select>


                <a href="#/asset" class="btn btn-primary">Back</a>
                <a href="#/asset" type="submit" class="btn btn-primary" ng-click="update()">Update</a>
            </div>
        </div>
    </div>
</form>