<style>
.col-centered{
    float: none;
    margin: 0 auto;
}
    .row{
  margin-top: 30px;
  margin-bottom: 30px
}
</style>
<div class="container" ng-controller="helpdeskDashBoardController">
<section  >
    <div class="form-group">
        <div class="row">
            <div class="col-md-10 col-centered">
                <h1>Open Tickets</h1>
            </div>
        </div> 
        <div class="row">
            <div class="col-md-10 col-centered">
                <grid-view fields="[{'name': 'shortdescription', 'value': 'Short Description' } ,{'name': 'number', 'value': 'Tiket Number' } ]" listaname="helpdesk?where={ &#34;owner&#34;: &#34;{{me.id}}&#34; }" adicionar="/#/helpdesk/new" view="project" pagesize="10"></grid-view>
            </div>
        </div> 
      
    </div>
</section>
</div>