<section ng-controller="ProjectNewController" ng-init="getProjects()" >
    <form ng-submit="submitTimesheetForm()" id="sign-up-form" class="form-signin" name="timesheet">
      <h2 class="form-signin-heading">Create new Project</h2>
      <div class="row">

        <!-- D A T E -->

        <!-- checking whether the form "signup" with the "name" property is both $invalid AND $dirty.  If it is
        insert the "has-error" class on the input field (i.e. insert a red border around the input field)
        -->
        <div class="control-group form-group col-md-12">
          <label>Name</label>

          <!-- For this input field make it required, and have a max length of 25 -->
       <p class="input-group">
              <input type="text" class="form-control" ng-model="name"  ng-required="true"   />
           
            </p>

         
        </div>

      

          
       
      </div>

      <br/>

      <!-- Disable signup button until the form has no errors -->
      <button class="btn btn-primary btn-lg btn-block" type="submit" ng-disabled="timesheet.$invalid">
        <span ng-show="!timesheetForm.loading">Create Project</span>
        <span class="overlord-loading-spinner fa fa-spinner" ng-show="signupForm.loading" ></span>
        <span ng-show="timesheetForm.loading">Preparing your new project...</span>
      </button>

      <input type="hidden" name="_csrf" value="<%= _csrf %>" />
    </form>


</section>